extends layout

block links

block scripts
  script(src="/js/index.js")
  script(src="/js/chat.js")


block content
  h1 Tokku
  
  .chatbox(ng-controller="chatController")
    input(ng-model='name')
    .splash(ng-hide='matched || loading')
      button.new-match(ng-click='findNewMatch()') Find Match
    .spinner(ng-hide='!loading')
      .bounce1
      .bounce2
      .bounce3

    div.chat(ng-hide='!matched')
      ul#messages
        li.line(ng-repeat='msg in messages', ng-class='{test: msg.id == id}')
          strong.name {{msg.from}} 
          span.text {{msg.body}}

      input#messageInput(ng-model='msg',ng-keydown="addMessage($event)",type='text', placeholder='Type a message...')
