extends layout

block links

block scripts
  script(src="/js/index.js")
  script(src="/js/chat.js")

block content
  .chatbox(ng-controller="chatController")
    .match-container(ng-hide='matched')
      h1.title Tokku
      h2.subtitle Disover.  Socialize.
      h2.subtitle Guiding natural conversations.
      .splash(ng-hide='matched || loading')
        button.new-match(ng-click='findNewMatch()') Find Match

      .loading(ng-hide='!loading')
        .greyarea
        .spinner
          .bounce1
          .bounce2
          .bounce3

    .chat-container(ng-hide='!matched')
      .greyarea
      h1 
        a(href='/') Tokku
      .large-3.columns
        ul.info(ng-style='color') 
      .large-6.columns
          //input(ng-model='name')
          .chat
            ul#messages
              li.line(ng-repeat='msg in messages', ng-class='{test: msg.id == id}')
                strong.name {{msg.from}}:&nbsp; 
                span.text {{msg.body}}
          input#messageInput(ng-model='msg',ng-keydown="addMessage($event)",type='text', placeholder='Type a message...')
      .large-3.columns
        .ul#suggestions
          li.suggestion(ng-repeat='sgt in suggestions', ng-class='{first: $first}')
            .text {{sgt.text}}
